@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400&family=Ubuntu:ital,wght@1,300&display=swap');

*{
 margin: 0;
 padding: 0;
 outline: 0;
box-sizing: border-box;
}
body{
 background-color: white
}

.container{
 position: absolute;
 left: 19%;
 top: 20%;
 transform: translate(-50%, -50);
 background-color:#f4f4f5 ;
 box-shadow: 0 2px 8px rgba(0, 0, 0,0.1);
 width: 1000px;
 height: 500px;
 text-align: center;
 font-family: 'Raleway',
  sans-serif;;
 
}

.header{
 margin: 20px 12px;
 padding: 12px 14px;
 border: 14px 4px;
}
h3{
 margin-bottom: 12px;
}

 #form{
 margin:0px;
 border: 1px solid rgb(90, 206, 171);
 border-radius:3px ;
}

#todo-myinput{
 padding: 10px 4px;
 width: 93%;
 border:0 ;


 
}
#btn{
 padding: 6px;
 border:6px ;
 color:rgb(90, 206, 171);
 

}


#mylist{
 padding: 15px;
 
}
 
#item{
 list-style: none;
 padding: 10px 5px;
 background-color: #fff;
 margin: 12px 0px;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 border-radius: 3px;
 transition: .4s;
 
}
 
#end{
 margin: 170px;
 padding: 10px  4px;
 color:rgb(90, 206, 171); 
 border: 0px;
 border-color: 1px solid rgb(90, 206, 171);
}
 
