@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,300;0,400;1,500&family=Ubuntu:ital,wght@1,300&display=swap');



*{
 margin: 0;
 padding: 0;
 outline: 0;
box-sizing: border-box;
}

body{
 background-color: white;
  width: 100%;

}

.container{
 position: absolute;
 left: 25%;
 top: 10%; 
 transform: translate(-50%, -50);
 background-color:#f4f4f5 ;
 box-shadow: 0 2px 8px rgba(0, 0, 0,0.1);
 width: 50%;
 height:80vh;
 text-align: center;
 font-family: 'Roboto','ubuntu', 'Raleway';
 
}

.header{
 margin: 20px 12px;
 padding: 12px 14px;
 border: 14px 4px;
}


h1{
 margin-bottom: 12px;
}

 #form{
 margin:0px;
 border: 1px solid rgb(90, 206, 171);
 

}

#todo-myinput{
 padding: 10px 4px;
 width: 92.9%;
height: 100%;
 border: none;
outline: none;
border-right: 1px solid rgb(90, 206, 171);

 
}
#post{
 padding: 15px;
 
}
 
#item{
 list-style: none;
 padding: 10px 5px;
 background-color: #fff;
 margin: 12px 0px;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 border-radius: 3px;
 transition: .4s;
 
}
 
#clear{
 margin: 170px auto;
 padding: 10px  30px;
 color: rgb(90, 206, 171);
cursor: pointer;
  position: relative;
  border: 1px solid blue;
  /*add my own border */
  border: 1px solid rgb(90, 206, 171);
  ;
 
}


    
#post{
  justify-items:center;
  text-align: left;
  margin:33px auto;
  margin-left: 30px;

}

span,.option{
  display:block;
  justify-content: center;
  
  text-align:right;
  
  width: 100%;
}




input[type ='submit']{
  cursor: pointer;
  position: relative;
  background: none;
  height: 100%;
  border: none;
  outline: none;
  color:rgb(90, 206, 171);
  
}




 
    
  


.line_through {
  text-decoration: line-through;
  opacity: 0.7;
  transition: .3s;
}